In [2]:
import numpy as np

np.array([1,2,3,4,5]).dtype

dtype('int32')

In [3]:
enrollments = np.array([
    ['account_key', 'status', 'join_date', 'days_to_cancel', 'is_udacity'],
    [448, 'canceled', '2014-11-10', 65, True],
    [448, 'canceled', '2014-11-05', 5, True],
    [448, 'canceled', '2015-01-27', 0, True],
    [448, 'canceled', '2014-11-10', 0, True],
    [448, 'current', '2015-03-10', np.nan, True],
])

In [4]:
enrollments

array([['account_key', 'status', 'join_date', 'days_to_cancel',
        'is_udacity'],
       ['448', 'canceled', '2014-11-10', '65', 'True'],
       ['448', 'canceled', '2014-11-05', '5', 'True'],
       ['448', 'canceled', '2015-01-27', '0', 'True'],
       ['448', 'canceled', '2014-11-10', '0', 'True'],
       ['448', 'current', '2015-03-10', 'nan', 'True']],
      dtype='<U14')

In [5]:
enrollments[:3]
# enrollments[:, 3].mean()

array([['account_key', 'status', 'join_date', 'days_to_cancel',
        'is_udacity'],
       ['448', 'canceled', '2014-11-10', '65', 'True'],
       ['448', 'canceled', '2014-11-05', '5', 'True']],
      dtype='<U14')

In [65]:
import pandas as pd

enrollments_df = pd.DataFrame({
    'account_key': [448, 448, 448, 448, 448],
    'status': ['canceled', 'canceled', 'canceled', 'canceled', 'current'],
    'join_data': ['2014-11-10', '2014-11-05', '2015-01-27', '2014-11-10', '2015-03-10'],
    'days_to_cancel': [65, 5, 0, 0, np.nan],
    'is_udacity': [True, True, True, True, True]
})

In [7]:
enrollments_df

   account_key  days_to_cancel  is_udacity   join_data    status
0          448            65.0        True  2014-11-10  canceled
1          448             5.0        True  2014-11-05  canceled
2          448             0.0        True  2015-01-27  canceled
3          448             0.0        True  2014-11-10  canceled
4          448             NaN        True  2015-03-10   current

In [8]:
enrollments_df.mean()

account_key       448.0
days_to_cancel     17.5
is_udacity          1.0
dtype: float64

In [9]:
enrollments_df.mean(axis=1)

0    171.333333
1    151.333333
2    149.666667
3    149.666667
4    224.500000
dtype: float64

In [11]:
ridership_df = pd.DataFrame({
 'R003': [0, 1478, 1613, 1560, 1608, 1576, 95, 2, 1438, 1342],
 'R004': [0, 3877, 4088, 3392, 4802, 3933, 229, 0, 3785, 4043],
 'R005': [2, 3674, 3991, 3826, 3932, 3909, 255, 1, 3589, 4009],
 'R006': [5, 2328, 6461, 4787, 4477, 4979, 496, 27, 4174, 4665],
 'R007': [0, 2539, 2691, 2613, 2705, 2685, 201, 0, 2215, 3033]
}, index=[
    '05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11', '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'
])

In [12]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [13]:
ridership_df.loc['05-02-11']

R003    1478
R004    3877
R005    3674
R006    2328
R007    2539
Name: 05-02-11, dtype: int64

In [14]:
ridership_df.iloc[9]

R003    1342
R004    4043
R005    4009
R006    4665
R007    3033
Name: 05-10-11, dtype: int64

In [15]:
ridership_df.iloc[0, 3]

5

In [16]:
ridership_df.loc['05-04-11', 'R004']

3392

In [18]:
ridership_df['R006']

05-01-11       5
05-02-11    2328
05-03-11    6461
05-04-11    4787
05-05-11    4477
05-06-11    4979
05-07-11     496
05-08-11      27
05-09-11    4174
05-10-11    4665
Name: R006, dtype: int64

In [20]:
ridership_df.values # 不含名称和索引

array([[   0,    0,    2,    5,    0],
       [1478, 3877, 3674, 2328, 2539],
       [1613, 4088, 3991, 6461, 2691],
       [1560, 3392, 3826, 4787, 2613],
       [1608, 4802, 3932, 4477, 2705],
       [1576, 3933, 3909, 4979, 2685],
       [  95,  229,  255,  496,  201],
       [   2,    0,    1,   27,    0],
       [1438, 3785, 3589, 4174, 2215],
       [1342, 4043, 4009, 4665, 3033]], dtype=int64)

In [21]:
ridership_df.values.mean()

2342.5999999999999

In [25]:
# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [27]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [1]:
if False:
    # You can create a DataFrame out of a dictionary mapping column names to values
    df_1 = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print (df_1)

    # You can also use a list of lists or a 2D NumPy array
    df_2 = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=['A', 'B', 'C'])
    print (df_2)
   

# Accessing elements
if False:
    print (ridership_df.iloc[0])
    print (ridership_df.loc['05-05-11'])
    print (ridership_df['R003'])
    print (ridership_df.iloc[1, 3])
    
# Accessing multiple rows
if False:
    print (ridership_df.iloc[1:4])
    
# Accessing multiple columns
if False:
    print (ridership_df[['R003', 'R005']])
    
# Pandas axis
if False:
    df = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print (df.sum())
    print (df.sum(axis=1))
    print (df.values.sum())

In [59]:
ridership_df.iloc[5].argmax()

'R006'

In [60]:
ridership_df['R006'].mean()

3239.9

In [61]:
ridership_df.values.mean()

2342.5999999999999

In [62]:
def mean_riders_for_max_station(ridership):
    max_station = ridership.iloc[0].argmax()
    mean_for_max = ridership[max_station].mean()
    overall_mean = ridership.values.mean()
    
    
    return (overall_mean, mean_for_max)

In [63]:
mean_riders_for_max_station(ridership_df)

(2342.5999999999999, 3239.9)