In [5]:
import pandas as pd

# Adding using +
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print (df)
    print ('') # Create a blank line between outputs
    print (df + s)

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164

In [6]:
# Adding with axis='index'
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print (df)
    print ('') # Create a blank line between outputs
    print (df.add(s, axis='index'))
    # The functions sub(), mul(), and div() work similarly to add()

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  51   91  131
1  22  62  102  142
2  33  73  113  153
3  44  84  124  164

In [8]:
# Adding with axis='columns'
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print (df)
    print ('') # Create a blank line between outputs
    print (df.add(s, axis='columns'))
    # The functions sub(), mul(), and div() work similarly to add()

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164

In [24]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89],
          'exam2': [24, 63, 56, 56, 67]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio']
)

def standardize(df):
    '''
    Fill in this function to standardize each column of the given
    DataFrame. To standardize a variable, convert each value to the
    number of standard deviations it is above or below the mean.
    
    This time, try to use vectorized operations instead of apply().
    You should get the same results as you did before.
    '''
    return None

def standardize_rows(df):
    '''
    Optional: Fill in this function to standardize each row of the given
    DataFrame. Again, try not to use apply().
    
    This one is more challenging than standardizing each column!
    '''
    return None

In [25]:
grades_df

        exam1  exam2
Andre      43     24
Barry      81     63
Chris      78     56
Dan        75     56
Emilio     89     67

In [26]:
grades_df.mean()

exam1    73.2
exam2    53.2
dtype: float64

In [27]:
(grades_df - grades_df.mean()) / grades_df.std()

           exam1     exam2
Andre  -1.709191 -1.718539
Barry   0.441447  0.576770
Chris   0.271659  0.164791
Dan     0.101872  0.164791
Emilio  0.894212  0.812186

In [36]:
# 如果标准化对象是行不是列
grades_df

        exam1  exam2
Andre      43     24
Barry      81     63
Chris      78     56
Dan        75     56
Emilio     89     67

In [37]:
grades_df.mean(axis='columns')

Andre     33.5
Barry     72.0
Chris     67.0
Dan       65.5
Emilio    78.0
dtype: float64

In [38]:
mean_diffs = grades_df.sub(grades_df.mean(axis='columns'), axis='index')

In [39]:
mean_diffs.div(grades_df.std(axis='columns'), axis='index') #div 是 division（除法） 的缩写

           exam1     exam2
Andre   0.707107 -0.707107
Barry   0.707107 -0.707107
Chris   0.707107 -0.707107
Dan     0.707107 -0.707107
Emilio  0.707107 -0.707107