In [1]:
import pandas as pd

engagement_df = pd.DataFrame({
    'account_key': ['1200', '1200', '1200', '1200', '1200', '1200', '1200', '1175', '1175', '1175', '1175', '1175', '1175', '1175'],
    'utc_data': ['2015-03-04', '2015-03-05', '2015-03-06', '2015-03-07', '2015-03-08', '2015-03-09', '2015-03-10', '2015-04-02',
                 '2015-04-03', '2015-04-04', '2015-04-05', '2015-04-06', '2015-04-07', '2015-04-08', ],
    'total_minutes_visited': [114.9, 43.4, 187.8, 150.1, 191.6, 0, 8.8, 2.7, 0, 0, 0, 0, 0, 0]
})

In [2]:
engagement_df

   account_key  total_minutes_visited    utc_data
0         1200                  114.9  2015-03-04
1         1200                   43.4  2015-03-05
2         1200                  187.8  2015-03-06
3         1200                  150.1  2015-03-07
4         1200                  191.6  2015-03-08
5         1200                    0.0  2015-03-09
6         1200                    8.8  2015-03-10
7         1175                    2.7  2015-04-02
8         1175                    0.0  2015-04-03
9         1175                    0.0  2015-04-04
10        1175                    0.0  2015-04-05
11        1175                    0.0  2015-04-06
12        1175                    0.0  2015-04-07
13        1175                    0.0  2015-04-08

In [3]:
engagement_df.groupby('account_key') # 创建了一个自定义对象

In [4]:
engagement_df.groupby('account_key').groups

{'1175': Int64Index([7, 8, 9, 10, 11, 12, 13], dtype='int64'),
 '1200': Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')}

In [5]:
engagement_df.groupby('account_key').sum()

             total_minutes_visited
account_key
1175                           2.7
1200                         696.6

In [6]:
engagement_df.groupby('account_key').sum()['total_minutes_visited'] # 目前数组中只有 total_minutes_visited 这一列可以计算的，所以跟上面结果一样

account_key
1175      2.7
1200    696.6
Name: total_minutes_visited, dtype: float64

In [7]:
engagement_df.groupby('account_key').sum()['total_minutes_visited'].mean()

349.65000000000003

In [8]:
engagement_df.groupby('account_key').sum()['total_minutes_visited'].describe()

count      2.000000
mean     349.650000
std      490.661395
min        2.700000
25%      176.175000
50%      349.650000
75%      523.125000
max      696.600000
Name: total_minutes_visited, dtype: float64